<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Received</title>
</head>
<body>
    <p>Great, you have received feedback from {{ feedback_giver_name }}</p>
    <p>Hi {{ feedback_seeker_name }},</p>
    <p>{{ feedback_giver_name }} has submitted feedback on your skills for development.</p>
    <p>You may want to send a Thank you mail to {{ feedback_giver_name }}</p>
    <p><a href="{{ individual_myskillsplus_page }}">Link to your MySkillsPlus page</a></p>
    <p>Regards,<br>
    IYS Team</p>
</body>
</html>
