{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}
  <div class="container my-4 max-width-650">
    <h1>{% trans "Sign Up" %}</h1>
    {% include "socialaccount/snippets/login_extra.html" %}

    <p>Already have an account? Then please <a href='{% url "account_login"  %}'>sign in</a>.</p>
    <form action="{% provider_login_url 'google' %}" method="post">
  {% csrf_token %}
      <div class="text-center">
        <button class="btn fw-bold btn-outline-primary btn-rounded  btn-rounded" type="submit"   >
        
          <i class="fab fa-google fa-lg"  style="color: #dd4b39;" href="#!" role="button"></i>
          {% trans "Login with Google" %}
        </button>
      </div>
 
</form>


    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div class="row g-3">
      {% for field in form %}
      <div class="col-sm-6">
        {{ field|as_crispy_field }}
      </div>
      {% endfor %}
    </div>
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <br>
      <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
{% endblock content %}
