absl-py==1.4.0
arabic-reshaper==3.0.0
asgiref==3.7.2
asn1crypto==1.5.1
astunparse==1.6.3
autopep8==2.0.2
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cryptography==41.0.1
cssselect2==0.7.0
defusedxml==0.7.1
dj-database-url==2.0.0
Django==4.2.3
django-allauth==0.54.0
django-crispy-forms==1.14.0
django-filter==23.3
django-rest-passwordreset==1.3.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
flatbuffers==23.5.26
future==0.18.3
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.0
gunicorn==20.1.0
h5py==3.9.0
html5lib==1.1
idna==3.4
importlib-metadata==6.8.0
jax==0.4.13
joblib==1.3.1
libclang==16.0.0
livekit-server-sdk-python==1.0.0
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.3
numpy==1.24.3
oauthlib==3.2.2
opt-einsum==3.3.0
oscrypto==1.3.0
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
protobuf==4.23.4
psycopg2-binary==2.9.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.21
pyHanko==0.18.1
pyhanko-certvalidator==0.22.0
PyJWT==2.7.0
pypdf==3.9.1
pypng==0.20220715.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3
PyYAML==6.0
qrcode==7.4.2
reportlab==3.6.13
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
sqlparse==0.4.4
structlog==23.1.0
svglib==1.5.1
termcolor==2.3.0
threadpoolctl==3.2.0
tinycss2==1.2.1
tomli==2.0.1
twirp==0.0.7
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.0.1
uritools==4.0.1
urllib3==1.26.16
webencodings==0.5.1
Werkzeug==2.3.6
wkhtmltopdf==0.2
wrapt==1.14.1
xhtml2pdf==0.2.11
zipp==3.16.1
openai==0.28.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
social-auth-app-django==4.0.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
qrcode[pil]
stripe
cloudinary
speechbrain
razorpay
boto3
google-cloud-translate
google-cloud-texttospeech
channels 
channels-redis 
daphne
google-cloud-speech
webrtcvad
librosa